In [227]:
# 1 Data load into data from store_df  file
import pandas as pd
store_df = pd.read_csv('store_df.csv')
store_df

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,0,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,0,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,0,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,0,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,0,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,NaN,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,0,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,0,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,0,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,NaN,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,0,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,NaN,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [204]:
#Drop row with duplicated
#store_df= store_df.drop_duplicates()

In [228]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 451 entries, 0 to 450
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     451 non-null    int64
 1   index          451 non-null    int64
 2   address        447 non-null    object
 3   longitude      447 non-null    object
 4   lat            7 non-null      object
 5   locality       447 non-null    object
 6   store_code     448 non-null    object
 7   staff_numbers  448 non-null    object
 8   opening_date   448 non-null    object
 9   store_type     448 non-null    object
 10  latitude       447 non-null    object
 11  country_code   448 non-null    object
 12  continent      448 non-null    object
dtypes: int64(2), object(11)
memory usage: 45.9+ KB

In [229]:
store_df

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,0,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,0,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,0,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,0,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,0,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,NaN,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,0,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,0,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,0,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,NaN,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,0,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,NaN,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [213]:
# check any null value
        
#store_df.isnull().sum()

Unnamed: 0         0
index              0
address            4
longitude          4
lat              444
locality           4
store_code         3
staff_numbers      3
opening_date       3
store_type         3
latitude           4
country_code       3
continent          3
dtype: int64

In [214]:
#Drop the null value
#store_df=store_df.dropna()

In [215]:
#Check to confirm 
#store_df.isnull().sum()

Unnamed: 0       0
index            0
address          0
longitude        0
lat              0
locality         0
store_code       0
staff_numbers    0
opening_date     0
store_type       0
latitude         0
country_code     0
continent        0
dtype: int64

In [230]:
# drop specific rows with NaN
store_df = store_df[~store_df['country_code'].isna()]

In [231]:
store_df

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,0,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,0,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,0,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,0,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
446,0,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,NaN,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
447,0,447,K0ODETRLS3,K8CXLZDP07,UXMWDMX1LC,3VHFDNP8ET,9D4LK7X4LZ,D23PCWSM6S,36IIMAQD58,NN04B3F6UQ,JZP8MIJTPZ,B3EH2ZGQAV,1WZB1TE1HL
448,0,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,0,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,NaN,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,0,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,NaN,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [232]:
list_of_values = ['GB', 'US', 'DE']
# drop rows with wrong country codes
store_df = store_df[store_df['country_code'].str.contains('|'.join(list_of_values))]

In [233]:
store_df

,Unnamed: 0,index,address,longitude,lat,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,0,NaN,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,0,1,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,NaN,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,-0.74934,GB,Europe
2,0,2,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,NaN,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,0,3,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26,NaN,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,-2.1875,GB,Europe
4,0,4,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.0233,NaN,Belper,BE-18074576,35,2019-09-09,Local,-1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...,...,...
445,0,445,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,NaN,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,-1.29772,GB,Europe
446,0,446,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.2,NaN,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,0,448,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,NaN,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,-0.74934,GB,Europe
449,0,449,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,NaN,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,0,450,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,NaN,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.2278,DE,eeEurope

In [234]:
#converts the opening_date column to a datetime object
store_df['opening_date'] = pd.to_datetime(store_df['opening_date'], infer_datetime_format=True, errors = 'coerce')

C:\Users\arif9\AppData\Local\Temp\ipykernel_7252\2953433218.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store_df['opening_date'] = pd.to_datetime(store_df['opening_date'], infer_datetime_format=True, errors = 'coerce')

In [236]:
# check to confirm change
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   index          441 non-null    int64
 2   address        440 non-null    object
 3   longitude      440 non-null    object
 4   lat            0 non-null      object
 5   locality       440 non-null    object
 6   store_code     441 non-null    object
 7   staff_numbers  441 non-null    object
 8   opening_date   441 non-null    datetime64[ns]
 9   store_type     441 non-null    object
 10  latitude       440 non-null    object
 11  country_code   441 non-null    object
 12  continent      441 non-null    object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 48.2+ KB

In [249]:
# drop a duplicated and a useless column
store_df.drop(columns = ['lat', 'index'], inplace = True)

C:\Users\arif9\AppData\Local\Temp\ipykernel_7252\3169958800.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store_df.drop(columns = ['lat', 'index'], inplace = True)

In [250]:
#check to confirm change
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    float64
 3   locality       440 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    int64
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    object
 8   latitude       440 non-null    float64
 9   country_code   441 non-null    category
 10  continent      441 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 38.5+ KB

In [251]:
store_df

,Unnamed: 0,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,0,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,0.74934,GB,Europe
2,0,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,0,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26000,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,2.18750,GB,Europe
4,0,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.02330,Belper,BE-18074576,35,2019-09-09,Local,1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
445,0,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,1.29772,GB,Europe
446,0,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.20000,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
448,0,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,0.74934,GB,Europe
449,0,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
450,0,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.22780,DE,eeEurope

In [239]:
# convert the latitude column to float and remove negative values
store_df['latitude'] = store_df['latitude'].astype(float).abs()

C:\Users\arif9\AppData\Local\Temp\ipykernel_7252\27866824.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store_df['latitude'] = store_df['latitude'].astype(float).abs()

In [240]:
# check to confirm change
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   index          441 non-null    int64
 2   address        440 non-null    object
 3   longitude      440 non-null    object
 4   lat            0 non-null      object
 5   locality       440 non-null    object
 6   store_code     441 non-null    object
 7   staff_numbers  441 non-null    object
 8   opening_date   441 non-null    datetime64[ns]
 9   store_type     441 non-null    object
 10  latitude       440 non-null    float64
 11  country_code   441 non-null    object
 12  continent      441 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(2), object(9)
memory usage: 48.2+ KB

In [238]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   index          441 non-null    int64
 2   address        440 non-null    object
 3   longitude      440 non-null    object
 4   lat            0 non-null      object
 5   locality       440 non-null    object
 6   store_code     441 non-null    object
 7   staff_numbers  441 non-null    object
 8   opening_date   441 non-null    datetime64[ns]
 9   store_type     441 non-null    object
 10  latitude       440 non-null    object
 11  country_code   441 non-null    object
 12  continent      441 non-null    object
dtypes: datetime64[ns](1), int64(2), object(10)
memory usage: 48.2+ KB

In [177]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    object
 3   locality       440 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    object
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    object
 8   latitude       440 non-null    float64
 9   country_code   441 non-null    object
 10  continent      441 non-null    object
dtypes: datetime64[ns](1), float64(1), int64(1), object(8)
memory usage: 41.3+ KB

In [241]:
# convert the longitute column to float
store_df['longitude'] = store_df['longitude'].astype(float)

C:\Users\arif9\AppData\Local\Temp\ipykernel_7252\3375967766.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store_df['longitude'] = store_df['longitude'].astype(float)

In [242]:
# check to confirm change
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 13 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   index          441 non-null    int64
 2   address        440 non-null    object
 3   longitude      440 non-null    float64
 4   lat            0 non-null      object
 5   locality       440 non-null    object
 6   store_code     441 non-null    object
 7   staff_numbers  441 non-null    object
 8   opening_date   441 non-null    datetime64[ns]
 9   store_type     441 non-null    object
 10  latitude       440 non-null    float64
 11  country_code   441 non-null    object
 12  continent      441 non-null    object
dtypes: datetime64[ns](1), float64(2), int64(2), object(8)
memory usage: 48.2+ KB

In [243]:
# remap staff_numbers errors
mapping = {'J78': '78', '30e': '30','80R': '80','A97': '97', '3n9':'39'}
store_df['staff_numbers'] = store_df['staff_numbers'].replace(mapping)

C:\Users\arif9\AppData\Local\Temp\ipykernel_7252\1868689825.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store_df['staff_numbers'] = store_df['staff_numbers'].replace(mapping)

In [244]:
# convert staff numbers to integer
store_df['staff_numbers'] = store_df['staff_numbers'].astype('int64')

C:\Users\arif9\AppData\Local\Temp\ipykernel_7252\3657003041.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store_df['staff_numbers'] = store_df['staff_numbers'].astype('int64')

In [252]:
# check to confirm change
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    float64
 3   locality       440 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    int64
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    object
 8   latitude       440 non-null    float64
 9   country_code   441 non-null    category
 10  continent      441 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 38.5+ KB

In [253]:
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    float64
 3   locality       440 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    int64
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    object
 8   latitude       440 non-null    float64
 9   country_code   441 non-null    category
 10  continent      441 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 38.5+ KB

In [183]:
store_df['store_type'] = store_df['store_type'].astype('category')

C:\Users\arif9\AppData\Local\Temp\ipykernel_7252\4158807872.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store_df['store_type'] = store_df['store_type'].astype('category')

In [254]:
# check to confirm change
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    float64
 3   locality       440 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    int64
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    object
 8   latitude       440 non-null    float64
 9   country_code   441 non-null    category
 10  continent      441 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 38.5+ KB

In [247]:
store_df['country_code'] = store_df['country_code'].astype('category')

C:\Users\arif9\AppData\Local\Temp\ipykernel_7252\3418723806.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  store_df['country_code'] = store_df['country_code'].astype('category')

In [255]:
#check to confirm change
store_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 441 entries, 0 to 450
Data columns (total 11 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Unnamed: 0     441 non-null    int64
 1   address        440 non-null    object
 2   longitude      440 non-null    float64
 3   locality       440 non-null    object
 4   store_code     441 non-null    object
 5   staff_numbers  441 non-null    int64
 6   opening_date   441 non-null    datetime64[ns]
 7   store_type     441 non-null    object
 8   latitude       440 non-null    float64
 9   country_code   441 non-null    category
 10  continent      441 non-null    object
dtypes: category(1), datetime64[ns](1), float64(2), int64(2), object(5)
memory usage: 38.5+ KB

In [258]:
store_df

,Unnamed: 0,address,longitude,locality,store_code,staff_numbers,opening_date,store_type,latitude,country_code,continent
0,0,NaN,NaN,NaN,WEB-1388012W,325,2010-06-12,Web Portal,NaN,GB,Europe
1,0,"Flat 72W\nSally isle\nEast Deantown\nE7B 8EB, ...",51.62907,High Wycombe,HI-9B97EE4E,34,1996-10-25,Local,0.74934,GB,Europe
2,0,"Heckerstraße 4/5\n50491 Säckingen, Landshut",48.52961,Landshut,LA-0772C7B9,92,2013-04-12,Super Store,12.16179,DE,Europe
3,0,"5 Harrison tunnel\nSouth Lydia\nWC9 2BE, Westbury",51.26000,Westbury,WE-1DE82CEE,69,2014-01-02,Super Store,2.18750,GB,Europe
4,0,Studio 6\nStephen landing\nSouth Simon\nB77 2W...,53.02330,Belper,BE-18074576,35,2019-09-09,Local,1.48119,GB,Europe
...,...,...,...,...,...,...,...,...,...,...,...
436,0,"Flat 7\nStephanie lake\nMorrisside\nHP8 8LH, C...",50.76306,Cowes,CO-473A9FBB,94,2008-06-08,Super Store,1.29772,GB,Europe
437,0,"Täschestraße 25\n39039 Nördlingen, Kirchlengern",52.20000,Kirchlengern,KI-78096E8C,61,2005-05-12,Super Store,8.63333,DE,Europe
438,0,"Studio 8\nMoss mall\nWest Linda\nM0E 6XR, High...",51.62907,High Wycombe,HI-EEA7AE62,33,1998-05-14,Local,0.74934,GB,Europe
439,0,"Baumplatz 6\n80114 Kötzting, Bretten",49.03685,Bretten,BR-662EC74C,35,2020-10-17,Local,8.70745,DE,Europe
440,0,"Gotthilf-Rose-Straße 7/3\n45457 Feuchtwangen, ...",50.64336,Bad Honnef,BA-B4AED588,36,2001-05-12,Local,7.22780,DE,eeEurope

In [256]:
store_df = store_df.reset_index(drop=True)

In [257]:
store_df.to_csv('clean_store_df.csv')

In [ ]:
# convert staff numbers to numeric
store_df = pd.to_numeric(store_df.staff_numbers, errors='coerce')