In [1]:
#2. Data load into data fram legace_users  file
import pandas as pd
df = pd.read_csv('dim_users.csv')
df

,Unnamed: 0,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-01-09,9523a6d3-b2dd-4670-a51a-36aebc89f579
2,8,8,Kathleen,Barlow,1959-11-13,Ferguson Ltd,garymorton@clarke.com,116 Smith junctions\nRichardsonmouth\nCO67 2LJ,United Kingdom,GB,028 9018 0338,1993-10-07,02de2416-4baf-42ad-bae6-d716eca0fc3f
3,11,11,Tracey,Jones,1955-02-20,"Burgess, Williams and Read",ukaur@dyer.com,9 Harriet isle\nNorth Edward\nW7 0WR,United Kingdom,GB,(0114) 496 0775,2017-11-09,bf86d13b-882b-485e-addd-0c4e9a39a96c
4,12,12,Ann,Wilson,1987-11-08,"Richards, Armstrong and Fox",moorewilliam@french.org,Flat 0\nGlenn courts\nNorth Eric\nE85 4LU,United Kingdom,GB,(028) 9018 0333,2018-06-02,52717e6a-955c-4c16-8f25-9e6a71ba3f60
...,...,...,...,...,...,...,...,...,...,...,...,...,...
5653,15311,12523,Stephen,Alvarado,2006-07-27,Wallace-Smith,s.alvarado@smith.com,"9197 Smith Island\nPort Benjamin, ND 32656",United States,US,001-529-002-6940x260,2000-01-07,cbfb7add-74d6-455f-926d-2fe6cc0d10c2
5654,15312,13070,Stephen,Lamb,1958-09-23,Sharp Inc,s.lamb@smith.com,Flat 58\nHoward bypass\nDayberg\nHX05 7ZD,United Kingdom,GB,+44(0)29 2018 0889,2002-03-04,75353e3a-97dc-48ef-850f-00ef24eb8c80
5655,15313,13136,Stephen,Barker,1981-05-01,Marshall-Campbell,s.barker@smith.com,857 Ross parkways\nMitchellville\nCR3 0QQ,United Kingdom,GB,+44(0)141 496 0548,2014-09-10,b8540c97-2c5d-4b79-b955-c0fd998819e7
5656,15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-07-03,1a0a8b7b-7c17-42d8-a946-8a85d5495651
5657,15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-03-01,187fe06e-bd5f-4381-af2f-d7ac37ca7572

In [2]:
# check columns information 
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5658 entries, 0 to 5657
Data columns (total 13 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Unnamed: 0                5658 non-null   int64
 1   index                     5658 non-null   int64
 2   first_name                5658 non-null   object
 3   last_name                 5658 non-null   object
 4   date_of_birth             5658 non-null   object
 5   company                   5658 non-null   object
 6   email_address             5658 non-null   object
 7   address                   5658 non-null   object
 8   country                   5658 non-null   object
 9   country_code              5658 non-null   object
 10  phone_number              5658 non-null   object
 11  join_date                 5658 non-null   object
 12                 user_uuid  5658 non-null   object
dtypes: int64(2), object(11)
memory usage: 574.8+ KB

In [3]:
# delete column Unnamed: 0
df = df.drop('Unnamed: 0', axis=1)

In [4]:
# check to confirm change
df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-01-09,9523a6d3-b2dd-4670-a51a-36aebc89f579
2,8,Kathleen,Barlow,1959-11-13,Ferguson Ltd,garymorton@clarke.com,116 Smith junctions\nRichardsonmouth\nCO67 2LJ,United Kingdom,GB,028 9018 0338,1993-10-07,02de2416-4baf-42ad-bae6-d716eca0fc3f
3,11,Tracey,Jones,1955-02-20,"Burgess, Williams and Read",ukaur@dyer.com,9 Harriet isle\nNorth Edward\nW7 0WR,United Kingdom,GB,(0114) 496 0775,2017-11-09,bf86d13b-882b-485e-addd-0c4e9a39a96c
4,12,Ann,Wilson,1987-11-08,"Richards, Armstrong and Fox",moorewilliam@french.org,Flat 0\nGlenn courts\nNorth Eric\nE85 4LU,United Kingdom,GB,(028) 9018 0333,2018-06-02,52717e6a-955c-4c16-8f25-9e6a71ba3f60
...,...,...,...,...,...,...,...,...,...,...,...,...
5653,12523,Stephen,Alvarado,2006-07-27,Wallace-Smith,s.alvarado@smith.com,"9197 Smith Island\nPort Benjamin, ND 32656",United States,US,001-529-002-6940x260,2000-01-07,cbfb7add-74d6-455f-926d-2fe6cc0d10c2
5654,13070,Stephen,Lamb,1958-09-23,Sharp Inc,s.lamb@smith.com,Flat 58\nHoward bypass\nDayberg\nHX05 7ZD,United Kingdom,GB,+44(0)29 2018 0889,2002-03-04,75353e3a-97dc-48ef-850f-00ef24eb8c80
5655,13136,Stephen,Barker,1981-05-01,Marshall-Campbell,s.barker@smith.com,857 Ross parkways\nMitchellville\nCR3 0QQ,United Kingdom,GB,+44(0)141 496 0548,2014-09-10,b8540c97-2c5d-4b79-b955-c0fd998819e7
5656,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-07-03,1a0a8b7b-7c17-42d8-a946-8a85d5495651
5657,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-03-01,187fe06e-bd5f-4381-af2f-d7ac37ca7572

In [5]:
# check to confirm change
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5658 entries, 0 to 5657
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     5658 non-null   int64
 1   first_name                5658 non-null   object
 2   last_name                 5658 non-null   object
 3   date_of_birth             5658 non-null   object
 4   company                   5658 non-null   object
 5   email_address             5658 non-null   object
 6   address                   5658 non-null   object
 7   country                   5658 non-null   object
 8   country_code              5658 non-null   object
 9   phone_number              5658 non-null   object
 10  join_date                 5658 non-null   object
 11                 user_uuid  5658 non-null   object
dtypes: int64(1), object(11)
memory usage: 530.6+ KB

In [14]:
import numpy as np
# Denote NULL entries as format recognizable by pandas / numpy
#The dataframe with the null values replaced with NaN and then dropped.
    
        
df=df.replace('NULL', np.nan, inplace=True)
#df= df.dropna(inplace=True)
        
#df = df.replace('NULL', np.nan)

AttributeError: 'NoneType' object has no attribute 'replace'

In [8]:
 # Clean columns with first and last names
df[['first_name', 'last_name']] = df[['first_name', 'last_name']].replace('[^a-zA-Z-]', np.nan, regex=True)

In [9]:
# chect to confirm change
df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,30/09/1990,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,10/10/2018,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,01/12/1940,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,20/12/2001,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,02/08/1995,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,16/12/2016,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,23/09/1972,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,23/02/2004,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,20/12/1952,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,01/09/2006,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,09/08/1943,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,15/04/2016,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,20/08/1948,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,20/07/2020,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,09/10/1940,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,07/03/2021,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,04/06/1952,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,03/01/2011,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,27/03/1994,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,28/08/2015,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [10]:
# drop the rows containing NaNs
df = df[df.notna().any(axis=1)]
df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,30/09/1990,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,10/10/2018,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
1,1,Guy,Allen,01/12/1940,Fox Ltd,rhodesclifford@henderson.com,Studio 22a\nLynne terrace\nMcCarthymouth\nTF0 9GH,United Kingdom,GB,(0161) 496 0674,20/12/2001,8fe96c3a-d62d-4eb5-b313-cf12d9126a49
2,2,Harry,Lawrence,02/08/1995,"Johnson, Jones and Harris",glen98@bryant-marshall.co.uk,92 Ann drive\nJoanborough\nSK0 6LR,United Kingdom,GB,+44(0)121 4960340,16/12/2016,fc461df4-b919-48b2-909e-55c95a03fe6b
3,3,Darren,Hussain,23/09/1972,Wheeler LLC,daniellebryan@thompson.org,19 Robinson meadow\nNew Tracy\nW22 2QG,United Kingdom,GB,(0306) 999 0871,23/02/2004,6104719f-ef14-4b09-bf04-fb0c4620acb0
4,4,Garry,Stone,20/12/1952,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,01/09/2006,9523a6d3-b2dd-4670-a51a-36aebc89f579
...,...,...,...,...,...,...,...,...,...,...,...,...
15315,14913,Stephen,Jenkins,09/08/1943,"Thornton, Carroll and Newman",s.jenkins@smith.com,Studio 41I\nJones lodge\nOliviaborough\nE8 3DU,United Kingdom,GB,+44(0)292018946,15/04/2016,2bd3a12f-a92d-4cdd-b99c-fc70572db302
15316,14994,Stephen,Smith,20/08/1948,Robinson-Harris,s.smith@smith.com,530 Young parkway\nMillsfurt\nL4G 7NX,United Kingdom,GB,+44(0)1144960977,20/07/2020,d234c04b-c07c-46a5-a902-526f91478ecc
15317,15012,Stephen,Losekann,09/10/1940,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,07/03/2021,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,04/06/1952,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,03/01/2011,187fe06e-bd5f-4381-af2f-d7ac37ca7572
15319,1249,Stephen,Duncan,27/03/1994,"Phillips, Brown and Powell",s.duncan@smith.com,Studio 4\nHancock road\nPhillipsview\nST1X 3XB,United Kingdom,GB,+44(0)1314960870,28/08/2015,0589bbca-1d58-4b1f-9d0a-04ed4c57aaa1

In [11]:
# Clean columns with date of birth 
#converts the date of birth column to datetime
df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], infer_datetime_format=True, errors = 'coerce')

C:\Users\arif9\AppData\Local\Temp\ipykernel_8364\1699565895.py:3: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], infer_datetime_format=True, errors = 'coerce')
C:\Users\arif9\AppData\Local\Temp\ipykernel_8364\1699565895.py:3: UserWarning: Parsing dates in %d/%m/%Y format when dayfirst=False (the default) was specified. Pass `dayfirst=True` or specify a format to silence this warning.
  df['date_of_birth'] = pd.to_datetime(df['date_of_birth'], infer_datetime_format=True, errors = 'coerce')

In [12]:
# Check to confim change
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 15320 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     15320 non-null  int64
 1   first_name                15121 non-null  object
 2   last_name                 14439 non-null  object
 3   date_of_birth             15268 non-null  datetime64[ns]
 4   company                   15299 non-null  object
 5   email_address             15299 non-null  object
 6   address                   15299 non-null  object
 7   country                   15299 non-null  object
 8   country_code              15299 non-null  object
 9   phone_number              15299 non-null  object
 10  join_date                 15299 non-null  object
 11                 user_uuid  15299 non-null  object
dtypes: datetime64[ns](1), int64(1), object(10)
memory usage: 1.4+ MB

In [13]:
# this statement for  rows with incorrect dates
df = df[df['date_of_birth'].notna()]

In [14]:
#converts the join date column to datetime
df['join_date'] = pd.to_datetime(df['join_date'], infer_datetime_format=True, errors = 'coerce')

C:\Users\arif9\AppData\Local\Temp\ipykernel_8364\43785272.py:2: UserWarning: The argument 'infer_datetime_format' is deprecated and will be removed in a future version. A strict version of it is now the default, see https://pandas.pydata.org/pdeps/0004-consistent-to-datetime-parsing.html. You can safely remove this argument.
  df['join_date'] = pd.to_datetime(df['join_date'], infer_datetime_format=True, errors = 'coerce')
C:\Users\arif9\AppData\Local\Temp\ipykernel_8364\43785272.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['join_date'] = pd.to_datetime(df['join_date'], infer_datetime_format=True, errors = 'coerce')

In [15]:
# check to confirm change
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 15268 entries, 0 to 15319
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     15268 non-null  int64
 1   first_name                15105 non-null  object
 2   last_name                 14424 non-null  object
 3   date_of_birth             15268 non-null  datetime64[ns]
 4   company                   15268 non-null  object
 5   email_address             15268 non-null  object
 6   address                   15268 non-null  object
 7   country                   15268 non-null  object
 8   country_code              15268 non-null  object
 9   phone_number              15268 non-null  object
 10  join_date                 6018 non-null   datetime64[ns]
 11                 user_uuid  15268 non-null  object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 1.5+ MB

In [16]:
# this statement for  rows with incorrect dates
df = df[df['join_date'].notna()]

In [17]:
# check to confirm change
df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-01-09,9523a6d3-b2dd-4670-a51a-36aebc89f579
8,8,Kathleen,Barlow,1959-11-13,Ferguson Ltd,garymorton@clarke.com,116 Smith junctions\nRichardsonmouth\nCO67 2LJ,United Kingdom,GB,028 9018 0338,1993-10-07,02de2416-4baf-42ad-bae6-d716eca0fc3f
11,11,Tracey,Jones,1955-02-20,"Burgess, Williams and Read",ukaur@dyer.com,9 Harriet isle\nNorth Edward\nW7 0WR,United Kingdom,GB,(0114) 496 0775,2017-11-09,bf86d13b-882b-485e-addd-0c4e9a39a96c
12,12,Ann,Wilson,1987-11-08,"Richards, Armstrong and Fox",moorewilliam@french.org,Flat 0\nGlenn courts\nNorth Eric\nE85 4LU,United Kingdom,GB,(028) 9018 0333,2018-06-02,52717e6a-955c-4c16-8f25-9e6a71ba3f60
...,...,...,...,...,...,...,...,...,...,...,...,...
15311,12523,Stephen,Alvarado,2006-07-27,Wallace-Smith,s.alvarado@smith.com,"9197 Smith Island\nPort Benjamin, ND 32656",United States,US,001-529-002-6940x260,2000-01-07,cbfb7add-74d6-455f-926d-2fe6cc0d10c2
15312,13070,Stephen,Lamb,1958-09-23,Sharp Inc,s.lamb@smith.com,Flat 58\nHoward bypass\nDayberg\nHX05 7ZD,United Kingdom,GB,+44(0)29 2018 0889,2002-03-04,75353e3a-97dc-48ef-850f-00ef24eb8c80
15313,13136,Stephen,Barker,1981-05-01,Marshall-Campbell,s.barker@smith.com,857 Ross parkways\nMitchellville\nCR3 0QQ,United Kingdom,GB,+44(0)141 496 0548,2014-09-10,b8540c97-2c5d-4b79-b955-c0fd998819e7
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-07-03,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-03-01,187fe06e-bd5f-4381-af2f-d7ac37ca7572

In [18]:
#check to confirm change
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 6018 entries, 0 to 15318
Data columns (total 12 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   index                     6018 non-null   int64
 1   first_name                5959 non-null   object
 2   last_name                 5708 non-null   object
 3   date_of_birth             6018 non-null   datetime64[ns]
 4   company                   6018 non-null   object
 5   email_address             6018 non-null   object
 6   address                   6018 non-null   object
 7   country                   6018 non-null   object
 8   country_code              6018 non-null   object
 9   phone_number              6018 non-null   object
 10  join_date                 6018 non-null   datetime64[ns]
 11                 user_uuid  6018 non-null   object
dtypes: datetime64[ns](2), int64(1), object(9)
memory usage: 611.2+ KB

In [19]:
# check any null value
df.isnull().sum()

index                         0
first_name                   59
last_name                   310
date_of_birth                 0
company                       0
email_address                 0
address                       0
country                       0
country_code                  0
phone_number                  0
join_date                     0
               user_uuid      0
dtype: int64

In [21]:
#Drop the null value for each colum
df=df.dropna()

In [22]:
#heck to confirm change
df.isnull().sum()

index                       0
first_name                  0
last_name                   0
date_of_birth               0
company                     0
email_address               0
address                     0
country                     0
country_code                0
phone_number                0
join_date                   0
               user_uuid    0
dtype: int64

In [24]:
# drop any rows duplicated
df.drop_duplicates()
df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-01-09,9523a6d3-b2dd-4670-a51a-36aebc89f579
8,8,Kathleen,Barlow,1959-11-13,Ferguson Ltd,garymorton@clarke.com,116 Smith junctions\nRichardsonmouth\nCO67 2LJ,United Kingdom,GB,028 9018 0338,1993-10-07,02de2416-4baf-42ad-bae6-d716eca0fc3f
11,11,Tracey,Jones,1955-02-20,"Burgess, Williams and Read",ukaur@dyer.com,9 Harriet isle\nNorth Edward\nW7 0WR,United Kingdom,GB,(0114) 496 0775,2017-11-09,bf86d13b-882b-485e-addd-0c4e9a39a96c
12,12,Ann,Wilson,1987-11-08,"Richards, Armstrong and Fox",moorewilliam@french.org,Flat 0\nGlenn courts\nNorth Eric\nE85 4LU,United Kingdom,GB,(028) 9018 0333,2018-06-02,52717e6a-955c-4c16-8f25-9e6a71ba3f60
...,...,...,...,...,...,...,...,...,...,...,...,...
15311,12523,Stephen,Alvarado,2006-07-27,Wallace-Smith,s.alvarado@smith.com,"9197 Smith Island\nPort Benjamin, ND 32656",United States,US,001-529-002-6940x260,2000-01-07,cbfb7add-74d6-455f-926d-2fe6cc0d10c2
15312,13070,Stephen,Lamb,1958-09-23,Sharp Inc,s.lamb@smith.com,Flat 58\nHoward bypass\nDayberg\nHX05 7ZD,United Kingdom,GB,+44(0)29 2018 0889,2002-03-04,75353e3a-97dc-48ef-850f-00ef24eb8c80
15313,13136,Stephen,Barker,1981-05-01,Marshall-Campbell,s.barker@smith.com,857 Ross parkways\nMitchellville\nCR3 0QQ,United Kingdom,GB,+44(0)141 496 0548,2014-09-10,b8540c97-2c5d-4b79-b955-c0fd998819e7
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-07-03,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-03-01,187fe06e-bd5f-4381-af2f-d7ac37ca7572

In [187]:
# Drop row with duplicated email address
df.drop_duplicates(subset='email_address', keep='first', inplace=True)

C:\Users\arif9\AppData\Local\Temp\ipykernel_4980\1345589078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df.drop_duplicates(subset='email_address', keep='first', inplace=True)

In [25]:
# check to confirm change

df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-01-09,9523a6d3-b2dd-4670-a51a-36aebc89f579
8,8,Kathleen,Barlow,1959-11-13,Ferguson Ltd,garymorton@clarke.com,116 Smith junctions\nRichardsonmouth\nCO67 2LJ,United Kingdom,GB,028 9018 0338,1993-10-07,02de2416-4baf-42ad-bae6-d716eca0fc3f
11,11,Tracey,Jones,1955-02-20,"Burgess, Williams and Read",ukaur@dyer.com,9 Harriet isle\nNorth Edward\nW7 0WR,United Kingdom,GB,(0114) 496 0775,2017-11-09,bf86d13b-882b-485e-addd-0c4e9a39a96c
12,12,Ann,Wilson,1987-11-08,"Richards, Armstrong and Fox",moorewilliam@french.org,Flat 0\nGlenn courts\nNorth Eric\nE85 4LU,United Kingdom,GB,(028) 9018 0333,2018-06-02,52717e6a-955c-4c16-8f25-9e6a71ba3f60
...,...,...,...,...,...,...,...,...,...,...,...,...
15311,12523,Stephen,Alvarado,2006-07-27,Wallace-Smith,s.alvarado@smith.com,"9197 Smith Island\nPort Benjamin, ND 32656",United States,US,001-529-002-6940x260,2000-01-07,cbfb7add-74d6-455f-926d-2fe6cc0d10c2
15312,13070,Stephen,Lamb,1958-09-23,Sharp Inc,s.lamb@smith.com,Flat 58\nHoward bypass\nDayberg\nHX05 7ZD,United Kingdom,GB,+44(0)29 2018 0889,2002-03-04,75353e3a-97dc-48ef-850f-00ef24eb8c80
15313,13136,Stephen,Barker,1981-05-01,Marshall-Campbell,s.barker@smith.com,857 Ross parkways\nMitchellville\nCR3 0QQ,United Kingdom,GB,+44(0)141 496 0548,2014-09-10,b8540c97-2c5d-4b79-b955-c0fd998819e7
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-07-03,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-03-01,187fe06e-bd5f-4381-af2f-d7ac37ca7572

In [26]:
# print df
print(df)

       index first_name last_name date_of_birth                      company  \
0          0   Sigfried     Noack    1990-09-30           Heydrich Junitz KG
4          4      Garry     Stone    1952-12-20                   Warner Inc
8          8   Kathleen    Barlow    1959-11-13                 Ferguson Ltd
11        11     Tracey     Jones    1955-02-20   Burgess, Williams and Read
12        12        Ann    Wilson    1987-11-08  Richards, Armstrong and Fox
...      ...        ...       ...           ...                          ...
15311  12523    Stephen  Alvarado    2006-07-27                Wallace-Smith
15312  13070    Stephen      Lamb    1958-09-23                    Sharp Inc
15313  13136    Stephen    Barker    1981-05-01            Marshall-Campbell
15317  15012    Stephen  Losekann    1940-10-09                      Rosenow
15318  15269    Stephen    Rivera    1952-06-04        Taylor, Fry and Jones

                 email_address  \
0            rudi79@winkler.de
4      billy14@long-warren.com
8        garymorton@clarke.com
11              ukaur@dyer.com
12     moorewilliam@french.org
...                        ...
15311     s.alvarado@smith.com
15312         s.lamb@smith.com
15313       s.barker@smith.com
15317     s.losekann@smith.com
15318       s.rivera@smith.com

                                                 address         country  \
0                           Zimmerstr. 1/0\n59015 Gießen         Germany
4                  3 White pass\nHunterborough\nNN96 4UE  United Kingdom
8         116 Smith junctions\nRichardsonmouth\nCO67 2LJ  United Kingdom
11                  9 Harriet isle\nNorth Edward\nW7 0WR  United Kingdom
12             Flat 0\nGlenn courts\nNorth Eric\nE85 4LU  United Kingdom
...                                                  ...             ...
15311         9197 Smith Island\nPort Benjamin, ND 32656   United States
15312          Flat 58\nHoward bypass\nDayberg\nHX05 7ZD  United Kingdom
15313          857 Ross parkways\nMitchellville\nCR3 0QQ  United Kingdom
15317  Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda         Germany
15318   660 Ross Falls Suite 357\nAnthonymouth, MA 09610   United States

      country_code          phone_number  join_date  \
0               DE      +49(0) 047905356 2018-10-10
4               GB         0121 496 0225 2006-01-09
8               GB         028 9018 0338 1993-10-07
11              GB       (0114) 496 0775 2017-11-09
12              GB       (028) 9018 0333 2018-06-02
...            ...                   ...        ...
15311           US  001-529-002-6940x260 2000-01-07
15312           GB    +44(0)29 2018 0889 2002-03-04
15313           GB    +44(0)141 496 0548 2014-09-10
15317           DE           02984 08192 2021-07-03
15318           US          239.711.3836 2011-03-01

                                  user_uuid
0      93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
4      9523a6d3-b2dd-4670-a51a-36aebc89f579
8      02de2416-4baf-42ad-bae6-d716eca0fc3f
11     bf86d13b-882b-485e-addd-0c4e9a39a96c
12     52717e6a-955c-4c16-8f25-9e6a71ba3f60
...                                     ...
15311  cbfb7add-74d6-455f-926d-2fe6cc0d10c2
15312  75353e3a-97dc-48ef-850f-00ef24eb8c80
15313  b8540c97-2c5d-4b79-b955-c0fd998819e7
15317  1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318  187fe06e-bd5f-4381-af2f-d7ac37ca7572

[5658 rows x 12 columns]

In [27]:
# sort out some wrong country code entries for UK
df.loc[(df['country'] == "United Kingdom") & (df['country_code'] != "GB"), 'country_code'] = 'GB'
df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-01-09,9523a6d3-b2dd-4670-a51a-36aebc89f579
8,8,Kathleen,Barlow,1959-11-13,Ferguson Ltd,garymorton@clarke.com,116 Smith junctions\nRichardsonmouth\nCO67 2LJ,United Kingdom,GB,028 9018 0338,1993-10-07,02de2416-4baf-42ad-bae6-d716eca0fc3f
11,11,Tracey,Jones,1955-02-20,"Burgess, Williams and Read",ukaur@dyer.com,9 Harriet isle\nNorth Edward\nW7 0WR,United Kingdom,GB,(0114) 496 0775,2017-11-09,bf86d13b-882b-485e-addd-0c4e9a39a96c
12,12,Ann,Wilson,1987-11-08,"Richards, Armstrong and Fox",moorewilliam@french.org,Flat 0\nGlenn courts\nNorth Eric\nE85 4LU,United Kingdom,GB,(028) 9018 0333,2018-06-02,52717e6a-955c-4c16-8f25-9e6a71ba3f60
...,...,...,...,...,...,...,...,...,...,...,...,...
15311,12523,Stephen,Alvarado,2006-07-27,Wallace-Smith,s.alvarado@smith.com,"9197 Smith Island\nPort Benjamin, ND 32656",United States,US,001-529-002-6940x260,2000-01-07,cbfb7add-74d6-455f-926d-2fe6cc0d10c2
15312,13070,Stephen,Lamb,1958-09-23,Sharp Inc,s.lamb@smith.com,Flat 58\nHoward bypass\nDayberg\nHX05 7ZD,United Kingdom,GB,+44(0)29 2018 0889,2002-03-04,75353e3a-97dc-48ef-850f-00ef24eb8c80
15313,13136,Stephen,Barker,1981-05-01,Marshall-Campbell,s.barker@smith.com,857 Ross parkways\nMitchellville\nCR3 0QQ,United Kingdom,GB,+44(0)141 496 0548,2014-09-10,b8540c97-2c5d-4b79-b955-c0fd998819e7
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-07-03,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-03-01,187fe06e-bd5f-4381-af2f-d7ac37ca7572

In [28]:
# remove some wrong entries
df = df[df['country'].isin(['United Kingdom', 'Germany', 'United States'])]
df

,index,first_name,last_name,date_of_birth,company,email_address,address,country,country_code,phone_number,join_date,user_uuid
0,0,Sigfried,Noack,1990-09-30,Heydrich Junitz KG,rudi79@winkler.de,Zimmerstr. 1/0\n59015 Gießen,Germany,DE,+49(0) 047905356,2018-10-10,93caf182-e4e9-4c6e-bebb-60a1a9dcf9b8
4,4,Garry,Stone,1952-12-20,Warner Inc,billy14@long-warren.com,3 White pass\nHunterborough\nNN96 4UE,United Kingdom,GB,0121 496 0225,2006-01-09,9523a6d3-b2dd-4670-a51a-36aebc89f579
8,8,Kathleen,Barlow,1959-11-13,Ferguson Ltd,garymorton@clarke.com,116 Smith junctions\nRichardsonmouth\nCO67 2LJ,United Kingdom,GB,028 9018 0338,1993-10-07,02de2416-4baf-42ad-bae6-d716eca0fc3f
11,11,Tracey,Jones,1955-02-20,"Burgess, Williams and Read",ukaur@dyer.com,9 Harriet isle\nNorth Edward\nW7 0WR,United Kingdom,GB,(0114) 496 0775,2017-11-09,bf86d13b-882b-485e-addd-0c4e9a39a96c
12,12,Ann,Wilson,1987-11-08,"Richards, Armstrong and Fox",moorewilliam@french.org,Flat 0\nGlenn courts\nNorth Eric\nE85 4LU,United Kingdom,GB,(028) 9018 0333,2018-06-02,52717e6a-955c-4c16-8f25-9e6a71ba3f60
...,...,...,...,...,...,...,...,...,...,...,...,...
15311,12523,Stephen,Alvarado,2006-07-27,Wallace-Smith,s.alvarado@smith.com,"9197 Smith Island\nPort Benjamin, ND 32656",United States,US,001-529-002-6940x260,2000-01-07,cbfb7add-74d6-455f-926d-2fe6cc0d10c2
15312,13070,Stephen,Lamb,1958-09-23,Sharp Inc,s.lamb@smith.com,Flat 58\nHoward bypass\nDayberg\nHX05 7ZD,United Kingdom,GB,+44(0)29 2018 0889,2002-03-04,75353e3a-97dc-48ef-850f-00ef24eb8c80
15313,13136,Stephen,Barker,1981-05-01,Marshall-Campbell,s.barker@smith.com,857 Ross parkways\nMitchellville\nCR3 0QQ,United Kingdom,GB,+44(0)141 496 0548,2014-09-10,b8540c97-2c5d-4b79-b955-c0fd998819e7
15317,15012,Stephen,Losekann,1940-10-09,Rosenow,s.losekann@smith.com,Viviane-Fritsch-Straße 3/5\n15064 Bad Liebenwerda,Germany,DE,02984 08192,2021-07-03,1a0a8b7b-7c17-42d8-a946-8a85d5495651
15318,15269,Stephen,Rivera,1952-06-04,"Taylor, Fry and Jones",s.rivera@smith.com,"660 Ross Falls Suite 357\nAnthonymouth, MA 09610",United States,US,239.711.3836,2011-03-01,187fe06e-bd5f-4381-af2f-d7ac37ca7572

In [30]:
#save the clean data
df.to_csv('dim_user_data.csv')

In [1]:
df

NameError: name 'df' is not defined